.home-container {
  display: flex;
  flex-direction: row;
}

.post-container {
  flex: 1;
  border: 1px solid var(--nav-color);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 48px;
  padding: 10px 30px;
  padding-top: 10px;
  padding-bottom: 0;
  max-width: 600px;
  height: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.user-information {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-information-inner {
  display: flex;
  flex: 1;
}

.user-image {
  margin-right: 15px;
  cursor: pointer;
}

.username-location {
  display: flex;
  flex-direction: column;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.user-username {
  font-weight: bold;
}

.user-post {
  display: flex;
  justify-content: center;
}

.user-post img {
  width: 700px;
  height: 600px;
}

.post-interaction-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.like-comment-send {
  display: flex;
  flex: 1;
}

.like {
  margin-right: 15px;
}

.comment {
  margin-right: 15px;
}

.send {
  margin-right: 15px;
}

.more {
  cursor: pointer;
}

.side-bar-container {
  display: flex;
}
